html, body {margin:0;padding:0;height:100%;}

/* Top banner style */
#navigation_bar {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size:4vmin; /* TODO make it change if the device is mobile or not in Jquery */
	background-color:black;
	z-index:1; /*on top of other layers*/
	transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
}
.banner_bottom_button {
    position: relative;
    display: inline-block;
    margin-left:10%; /* TODO to adapt in Jquery */
    color:white;
    text-decoration:none; /*No links decoration*/
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
	cursor:pointer;
}

@keyframes background_animation { 
    0%{background-position:0% 61%}
    50%{background-position:100% 50%}
    100%{background-position:7% 70%}
}
#identification {
    width:100%;
    height:100%;
    background: linear-gradient(280deg, #b0ffe9, #a9caff, #ffd2bf);
    background-size:250%;
    animation: background_animation 9s ease-in-out infinite;
}
#identification #identificationBox {
    position: relative;
    width:80%;
    height:70%;
    top:10%;
    margin:auto;
    background: rgba(190, 190, 190, 0.295)
}

#identification #identificationBox #switch {
    position: absolute;
    width:98%;
    top:0%;
    height:10%;
    padding:1%;
    background: rgba(0, 255, 221, 0.192);
}
#identification #identificationBox #switch .switchTab {
    width:48%;
    height:100%;
    background: rgba(0, 153, 255, 0.315);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3vmax; /* TODO */
    color: white;
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}
#identification #identificationBox #switch #signupTab {
    float:left;
}
#identification #identificationBox #switch #loginTab {
    float:right;
}

#identification #identificationBox input {
    position:absolute;
    width:80%;
    margin-left:7%;
    padding:1.4%;
    font-size:1.8vmax;
    color:white;
    background: rgba(65, 179, 255, 0.096);
    border: 3px solid rgba(123, 145, 255, 0.678);
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}
#identification #identificationBox input:focus {
    background: rgba(65, 255, 176, 0.438);
    border: 3px solid rgba(86, 255, 120, 0.63);
}
#identification #identificationBox button {
    position: absolute;
    width:40%;
    margin-left:30%;
    padding:2%;
    font-size:3vmin;
    color: white;
    background: rgba(55, 0, 255, 0.158);
    border: 4px solid rgba(181, 69, 255, 0.459);
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}
#identification #identificationBox button:active {
    color: rgb(0, 0, 0);
    background: rgba(0, 255, 76, 0.116);
    border: 4px solid rgb(69, 255, 106);
}
#identification #identificationBox #signup #signupEmail {
    top: 15%;
}
#identification #identificationBox #signup #signupUsername {
    top: 30%;
}
#identification #identificationBox #signup #signupPassword1 {
    top: 45%;
}
#identification #identificationBox #signup #signupPassword2 {
    top: 60%;
}
#identification #identificationBox #signup #signupSubmit {
    top: 80%;
}
#identification #identificationBox #login #loginEmail {
    top: 25%;
}
#identification #identificationBox #login #loginPassword {
    top: 40%;
}
#identification #identificationBox #login #loginSubmit {
    top: 75%;
}
#identification #identificationBox #login #loginForgot {
    position:absolute;
    top:85%;
    right:5%;
    font-size:1.7vw;
}


#bill #camera {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 5%;
    height:60%;
    background: rgb(128, 128, 128);
    border: 4px solid rgba(255, 244, 180, 0.795);
}

#bill #scan {
    position: absolute;
    width: 50%;
    left: 25%;
    top:70%;
    height:10%;
    background: black;
    border: 5px solid rgba(73, 255, 112, 0.795);
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
}
#itemizedBill {
    background: red;
}

#history {
    background: green;
}

#profile {
    background: blue;
}

#settings {
    background: yellow;
}