html, body {
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Spectral SC', serif !important;
}

@font-face {
    font-family: 'Spectral SC';
    src: local('Spectral SC Regular'), local('SpectralSC-Regular'), url(https://fonts.gstatic.com/s/spectralsc/v2/yJ95fCBFs0v33GTJdYTk_4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
}

#topBar {
    position: fixed;
    width: 100%;
    height: 8%;
	z-index: 1; /*on top of other layers*/
    background: #dad2c8;
    border-bottom: 2px solid black;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 6vmin;
}
	
/* Top banner style */
#navigationBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 4.4vmin;
    border-top: 2px solid black;
	z-index: 1; /*on top of other layers*/
	transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
    /* background-color:black; */
}

#navigationBar .banner_bottom_button {
    position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dad2c8;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color:black;
    text-decoration: none; /*No links decoration*/
	cursor: pointer;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}

#navigationBar .banner_bottom_button:active {
    background-color: rgb(255, 255, 255);
    color:rgb(65, 65, 65);
}


.screen {
    position: static;
    width: 100%;
    height: 100%;
}

@keyframes background_animation { 
    0%{background-position:0% 80%}
    50%{background-position:55% 0%}
    100%{background-position:0% 80%}
}
#identification {
    background: linear-gradient(280deg, #b0ffe9, #a9caff, #ffd2bf);
    background-size:250%;
    animation: background_animation 9s ease-in-out infinite;
}
#identification #identificationError {
    position: absolute;
    width: 70%;
    left: 14%;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin; /* TODO */
    padding: 0.6%;
    color: white;
    background: rgba(255, 67, 67, 0.322);
    border-radius: 5%;
}
#identification #identificationBox {
    position: relative;
    width:80%;
    height:70%;
    top:10%;
    margin:auto;
    background: rgba(190, 190, 190, 0.295);
}

#identification #identificationBox #switch {
    position: absolute;
    width:98%;
    top:0%;
    height:10%;
    padding:1%;
    background: rgba(0, 255, 221, 0.192);
}
#identification #identificationBox #switch .switchTab {
    width:48%;
    height:100%;
    background: rgba(0, 153, 255, 0.315);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3vmax; /* TODO */
    color: white;
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}
#identification #identificationBox #switch #signupTab {
    float:left;
}
#identification #identificationBox #switch #loginTab {
    float:right;
}

#identification #identificationBox input {
    position:absolute;
    width:80%;
    margin-left:7%;
    padding:1.4%;
    font-size:1.8vmax;
    color:white;
    background: rgba(65, 179, 255, 0.096);
    border: 3px solid rgba(123, 145, 255, 0.678);
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}
#identification #identificationBox input:focus {
    background: rgba(65, 255, 176, 0.438);
    border: 3px solid rgba(86, 255, 120, 0.63);
}
#identification #identificationBox button {
    position: absolute;
    width:40%;
    margin-left:30%;
    padding:2%;
    font-size:3vmin;
    color: white;
    background: rgba(55, 0, 255, 0.158);
    border: 4px solid rgba(181, 69, 255, 0.459);
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}
#identification #identificationBox button:active {
    color: rgb(0, 0, 0);
    background: rgba(0, 255, 76, 0.116);
    border: 4px solid rgb(69, 255, 106);
}
#identification #identificationBox #signup #signupEmail {
    top: 15%;
}
#identification #identificationBox #signup #signupUsername {
    top: 30%;
}
#identification #identificationBox #signup #signupPassword1 {
    top: 45%;
}
#identification #identificationBox #signup #signupPassword2 {
    top: 60%;
}
#identification #identificationBox #signup #signupSubmit {
    top: 80%;
}
#identification #identificationBox #login #loginEmail {
    top: 25%;
}
#identification #identificationBox #login #loginPassword {
    top: 40%;
}
#identification #identificationBox #login #loginSubmit {
    top: 75%;
}
#identification #identificationBox #login #loginForgot {
    position:absolute;
    top:85%;
    right:5%;
    font-size:1.7vw;
}
#identification #identificationBox .error {
    color: rgba(255, 19, 19, 0.37);
    background: rgba(224, 76, 7, 0.226);
    border: 4px solid rgb(255, 0, 0);
}

#bill {
    background: linear-gradient(280deg, #6c71fd, #5c5899, #7ebcd4);
    background-size:250%;
    animation: background_animation 9s ease-in-out infinite;
}

#bill #scan {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    top: 30%;
    padding: 3%;
    display: flex;
    justify-content: center;
	font-family: 'Spectral SC', serif;
	font-size: 8vmin;
    background: rgb(10, 131, 187);
    border: 5px solid #000;
	color:rgb(255, 255, 255);
    border-radius: 5%;
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}

#bill #scan:active {
    background: #C7E9F3;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(0, 247, 255);
}

#bill #scan #inputFile { 
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

#bill #preview {
    position: absolute;
    top: 50%;
    max-width: 80%;
    max-height: 50%;
    display: flex;
    justify-content: center;
}

#history {
    background-color: rgb(193, 226, 255);
    padding-top:12%;
}

#history #billOverview {
    position: relative;
    width: 90%;
    margin-left: 3%;
    margin-top: 3%;
    height: 20%;
    padding: 2%;
    background-color: rgb(208, 255, 253);
    font-family: arial;
}

#history #billOverviewDetails {
    float:left;
    font-size: 4.5vmin;
    background:rgb(215, 215, 255);
}

#history #billOverviewAccess {
    float:right;
    font-size: 7vmin;
    display: flex;
    justify-content: center;
    width: 35%;
    height: 20vh;
    background: rgb(151, 255, 142);
}

#profile {
    background: #D65D53;
}

#settings {
    background: #84B89A;
}