html, body {margin:0;padding:0;height:100%;}

/* latin-ext */
@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral SC Regular'), local('SpectralSC-Regular'), url(https://fonts.gstatic.com/s/spectralsc/v2/yJ95fCBFs0v33GTJdYTk_6E8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral SC Regular'), local('SpectralSC-Regular'), url(https://fonts.gstatic.com/s/spectralsc/v2/yJ95fCBFs0v33GTJdYTk_4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#top_bar{
	width: 100%;
	position: fixed;
	z-index:2; /*on top of other layers*/
	padding-top: 1vh;
	padding-bottom: 1vh;
	background: #dad2c8;
	font-family: 'Spectral SC', serif;
	margin:0;
	border-color:#000;
	border-bottom: solid;
	text-align: center;
	font-weight: 550;
	font-size:5vmin;
}
	
/* Top banner style */
#navigation_bar{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	position: fixed;
	bottom: 0;
    width:100%;
    font-size:4vmin; /* TODO make it change if the device is mobile or not in Jquery */
	border-color:#000;
	border-top: solid;
	z-index:1; /*on top of other layers*/
	transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
	margin:0;
}

.banner_bottom_button {
    position: relative;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	background: #dad2c8;
	align-items: center;
    color:black;
    text-decoration:none; /*No links decoration*/
	cursor:pointer;
	font-family: 'Spectral SC', serif;
	margin:0;
}

.banner_bottom_button:hover {
	background-color: #F4EAE0;
}


.screen {
	background: #0077B2;
    position:static;
    width:100%;
    height:100%;
}

@keyframes background_animation { 
    0%{background-position:0% 61%}
    50%{background-position:100% 50%}
    100%{background-position:7% 70%}
}
#identification {
    background: linear-gradient(280deg, #b0ffe9, #a9caff, #ffd2bf);
    background-size:250%;
    animation: background_animation 9s ease-in-out infinite;
}
#identification #identificationError {
    position:absolute;
    width:70%;
    left:14%;
    top:2%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:4vmin; /* TODO */
    padding:0.6%;
    color: white;
    background:rgba(255, 67, 67, 0.322);
    border-radius:5%;
}
#identification #identificationBox {
    position: relative;
    width:80%;
    height:70%;
    top:10%;
    margin:auto;
    background: rgba(190, 190, 190, 0.295);
}

#identification #identificationBox #switch {
    position: absolute;
    width:98%;
    top:0%;
    height:10%;
    padding:1%;
    background: rgba(0, 255, 221, 0.192);
}
#identification #identificationBox #switch .switchTab {
    width:48%;
    height:100%;
    background: rgba(0, 153, 255, 0.315);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3vmax; /* TODO */
    color: white;
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}
#identification #identificationBox #switch #signupTab {
    float:left;
}
#identification #identificationBox #switch #loginTab {
    float:right;
}

#identification #identificationBox input {
    position:absolute;
    width:80%;
    margin-left:7%;
    padding:1.4%;
    font-size:1.8vmax;
    color:white;
    background: rgba(65, 179, 255, 0.096);
    border: 3px solid rgba(123, 145, 255, 0.678);
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}
#identification #identificationBox input:focus {
    background: rgba(65, 255, 176, 0.438);
    border: 3px solid rgba(86, 255, 120, 0.63);
}
#identification #identificationBox button {
    position: absolute;
    width:40%;
    margin-left:30%;
    padding:2%;
    font-size:3vmin;
    color: white;
    background: rgba(55, 0, 255, 0.158);
    border: 4px solid rgba(181, 69, 255, 0.459);
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}

#signup{
	font-family: 'Spectral SC', serif;
}

#identification #identificationBox button:active {
    color: rgb(0, 0, 0);
    background: rgba(0, 255, 76, 0.116);
    border: 4px solid rgb(69, 255, 106);
}
#identification #identificationBox #signup #signupEmail {
    top: 15%;
}
#identification #identificationBox #signup #signupUsername {
    top: 30%;
}
#identification #identificationBox #signup #signupPassword1 {
    top: 45%;
}
#identification #identificationBox #signup #signupPassword2 {
    top: 60%;
}
#identification #identificationBox #signup #signupSubmit {
    top: 80%;
}
#identification #identificationBox #login #loginEmail {
    top: 25%;
}
#identification #identificationBox #login #loginPassword {
    top: 40%;
}
#identification #identificationBox #login #loginSubmit {
    top: 75%;
}
#identification #identificationBox #login #loginForgot {
    position:absolute;
    top:85%;
    right:5%;
    font-size:1.7vw;
}
#identification #identificationBox .error {
    color: rgba(255, 19, 19, 0.37);
    background: rgba(224, 76, 7, 0.226);
    border: 4px solid rgb(255, 0, 0);
}

#bill #scan {
	text-align: center;
	font-family: 'Spectral SC', serif;
	font-size: 5vmin;
	position: absolute;
    width: 20%;
    left: 40%;
	right: 40%;
    top:40%;
    height:5%;
    background: #0077B2;
    border: 5px solid #000;
	color:black;
    border-radius: #FFF;
    padding-bottom: 2%;
	padding-top: 1%;
}

#bill #scan:hover {
    background: #C7E9F3;
	transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -ms-transition:all 0.5s;
}

#bill #scan [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

#bill2 {
    background: #8D3D37;
}

#history {
    background: #FF8E00;
}

#profile {
    background: #D65D53;
}

#settings {
    background: #84B89A;
}